{{ $currentPage := . }}
{{ $currentURL := $currentPage.RelPermalink }}

<nav class="flex justify-between bb b--white-10">
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo_2000.webp" alt="{{ .Site.Title }}" class="br0 db mb0 w-100"/>
	</a>
	<ul class="flex b grey-3">
		{{/* Home Link */}}
		<li><a href="/" class="pa3 no-underline db {{ if .IsHome }}bg-primary white{{ else }}grey-3{{ end }}">Home</a></li>

		{{/* Success Stories */}}
		<li><a href="/success-stories/" class="pa3 no-underline db {{ if or (eq $currentPage.Section "success-stories") (hasPrefix $currentURL "/success-stories/") }}bg-primary white{{ else }}grey-3{{ end }}">Success Stories</a></li>

		{{/* How It Works */}}
		<li><a href="/how-it-works/" class="pa3 no-underline db {{ if or (eq $currentPage.Section "how-it-works") (hasPrefix $currentURL "/how-it-works/") }}bg-primary white{{ else }}grey-3{{ end }}">How It Works</a></li>

		{{/* Join the Programme */}}
		<li><a href="/signup/" class="pa3 no-underline db {{ if or (eq $currentPage.Section "signup") (hasPrefix $currentURL "/signup/") }}bg-primary white{{ else }}grey-3{{ end }}">Join the Programme</a></li>

		{{/* Be a Control Employer */}}
		<li><a href="/control-employer/" class="pa3 no-underline db {{ if or (eq $currentPage.Section "control-employer") (hasPrefix $currentURL "/control-employer/") }}bg-primary white{{ else }}grey-3{{ end }}">Be a Control Employer</a></li>

		{{/* The Team */}}
		<li><a href="/team/" class="pa3 no-underline db {{ if or (eq $currentPage.Section "team") (hasPrefix $currentURL "/team/") }}bg-primary white{{ else }}grey-3{{ end }}">The Team</a></li>

		{{/* Get in Touch */}}
		<li><a href="/contact/" class="pa3 no-underline db {{ if or (eq $currentPage.Section "contact") (hasPrefix $currentURL "/contact/") }}bg-primary white{{ else }}grey-3{{ end }}">Get in Touch</a></li>

		{{/* Resources */}}
		<li><a href="/resources/" class="pa3 no-underline db {{ if or (eq $currentPage.Section "resources") (hasPrefix $currentURL "/resources/") }}bg-primary white{{ else }}grey-3{{ end }}">Resources</a></li>
	</ul>
</nav>