{{ $currentPage := . }}
{{ $currentURL := $currentPage.RelPermalink }}

<nav class="flex items-center bb bg-primary">
	<a href="/" class="pa1 mr4 h-100 w3 flex-none">
		<img src="/img/logo_2000.webp" alt="{{ .Site.Title }}" class="br0 mb0 w-100"/>
	</a>
	<ul class="flex h-100 ml4">
		{{/* Home Link */}}
		<li class="flex"><a href="/" class="pa2 no-underline flex items-center {{ if .IsHome }}bg-white primary{{ else }}white{{ end }}">Home</a></li>

		{{/* Success Stories */}}
		<li class="flex"><a href="/success-stories/" class="pa2 no-underline flex items-center {{ if or (eq $currentPage.Section "success-stories") }}bg-white primary{{ else }}white{{ end }}">Success Stories</a></li>

		{{/* How It Works */}}
		<li class="flex"><a href="/how-it-works/" class="pa2 no-underline flex items-center {{ if or (eq $currentPage.Section "how-it-works") }}bg-white primary{{ else }}white{{ end }}">How It Works</a></li>

		{{/* Join the Programme */}}
		<li class="flex"><a href="/signup/" class="pa2 no-underline flex items-center {{ if or (eq $currentPage.Section "signup") }}bg-white primary{{ else }}white{{ end }}">Join the Programme</a></li>

		{{/* Be a Control Employer */}}
		<li class="flex"><a href="/control-employer/" class="pa2 no-underline flex items-center {{ if or (eq $currentPage.Section "control-employer") }}bg-white primary{{ else }}white{{ end }}">Be a Control Employer</a></li>

		{{/* The Team */}}
		<li class="flex"><a href="/team/" class="pa2 no-underline flex items-center {{ if or (eq $currentPage.Section "team") }}bg-white primary{{ else }}white{{ end }}">The Team</a></li>

		{{/* Get in Touch */}}
		<li class="flex"><a href="/contact/" class="pa2 no-underline flex items-center {{ if or (eq $currentPage.Section "contact") }}bg-white primary{{ else }}white{{ end }}">Get in Touch</a></li>

		{{/* Resources */}}
		<li class="flex"><a href="/resources/" class="pa2 no-underline flex items-center {{ if or (eq $currentPage.Section "resources") }}bg-white primary{{ else }}white{{ end }}">Resources</a></li>
	</ul>
	<!-- Social Links Section -->
	<div class="flex items-center pa2">
		{{ $nav := .Site.Data.navigation }}
		{{ range $nav.social }}
		<a href="{{ .url }}" target="_blank" title="{{ .platform }}" class="social-link white pa2 flex items-center">
			<div class="w1 h1">{{ .svg | safeHTML }}</div>
		</a>
		{{ end }}
	</div>
</nav>