{{ define "main" }}

<div class="ph3 bg-off-white min-vh-100">
    <div class="center mw7 pv4">
        <div class="tc pb4">
            <h1 class="f2 lh-title mb3 primary ttu">{{ .Title }}</h1>
        </div>

        <!-- Hero Image -->
        <div class="tc mb4">
            <img src="/img/resources_hero.webp" alt="Resources" class="w-75 w-60-m w-50-l br2 db center" style="height: auto;" />
        </div>

        <div class="lh-copy measure center mb4 f5">
            {{ .Content }}
        </div>

        {{ if .Params.pdf_guide }}
        <div class="pv3 tc">
            <div class="bg-white pa4 br2 mw6 center">
                <h2 class="f3 lh-title mb3 primary">{{ .Params.pdf_guide.title }}</h2>
                <p class="f5 lh-copy mb4 black">{{ .Params.pdf_guide.description }}</p>
                <a href="{{ .Params.pdf_guide.file }}" class="bg-primary white f5 link br2 ph4 pv3 mb3 dib no-underline hover-bg-dark-blue" download>
                    {{ .Params.pdf_guide.button_text }}
                </a>
            </div>
        </div>
        {{ end }}

        {{ if .Params.pdf_guide.bottom_text }}
        <div class="tc mb4">
            <p class="f5 lh-copy measure center black">{{ .Params.pdf_guide.bottom_text }}</p>
        </div>
        {{ end }}

        {{ if .Params.partners }}
        <div class="pv3">
            <div class="center mw7 ph3">
                <div class="cf">
                    {{ range .Params.partners }}
                    <div class="fl w-100 w-50-l pa3 tc">
                        <img src="{{ .logo }}" alt="{{ .name }}" class="w-100 h3 db center mb2" style="object-fit: contain;" />
                        <p class="f6 black">The
                            <a href="{{ .website }}" class="link primary">{{ .name }}</a> {{ .text }}
                            <a href="{{ .extra_link }}" class="link primary">{{ .redirect_text }}</a>
                        </p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}