{{ define "main" }}

<div class="ph3 bg-off-white min-vh-100">
    <div class="center mw7 pv4">
        <div class="tc pb4">
            <h1 class="f1 b lh-title mb3">{{ .Title }}</h1>
            {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-100 db mb4" />
            {{ end }}
        </div>

        <div class="lh-copy measure center mb4">
            {{ .Content }}
        </div>

        {{ if .Params.pdf_guide }}
        <div class="pv4 tc">
            <div class="bg-white pa4 br2 ba b--light-gray mw6 center">
                <h2 class="f2 b lh-title mb3">{{ .Params.pdf_guide.title }}</h2>
                <p class="f4 lh-copy mb4">{{ .Params.pdf_guide.description }}</p>
                <a href="{{ .Params.pdf_guide.file }}" class="bg-primary white f4 link br1 ph4 pv3 mb3 dib no-underline" download>
                    {{ .Params.pdf_guide.button_text }}
                </a>
            </div>
        </div>
        {{ end }}

        {{ if .Params.bottom_text }}
        <p class="f4 lh-copy mb4">{{ .Params.bottom_text }}</p>
        {{ end }}

        {{ if .Params.partners }}
        <div class="pv4 bg-grey-1">
            <div class="center mw7 ph3">
                <div class="cf">
                    {{ range .Params.partners }}
                    <div class="fl w-50-m w-third-l pa3 tc">
                        <img src="{{ .logo }}" alt="{{ .name }}" class="w-100 h3 db center mb2" style="object-fit: contain;" />
                        <p>The
                            <a href="{{ .website }}" class="link">{{ .name }}</a> {{ .text }}
                            <a href="{{ .extra_link }}" class="link">{{ .redirect_text }}</a>
                        </p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}