{{ define "main" }}

<div class="ph3 bg-off-white min-vh-100">
    <div class="center mw7 pv4">
        <div class="tc pb4">
            <h1 class="f1 b lh-title mb3">{{ .Title }}</h1>
            {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-100 db mb4" />
            {{ end }}
        </div>

        <div class="lh-copy measure center mb4">
            {{ .Content }}
        </div>

        {{ if .Params.team_members }}
        <div class="pv4">
            <div class="cf">
                {{ range $index, $member := .Params.team_members }}
                <div class="fl w-100 {{ if eq $index 0 }}{{ else }}w-50-m w-third-l{{ end }} pa3">
                    <div class="bg-white pa4 br2 ba b--light-gray {{ if eq $index 0 }}tc{{ end }}" style="min-height: 250px;">
                        {{ if .photo }}
                        <img src="{{ .photo }}" alt="{{ .name }}" class="w4 h4 br-100 db {{ if eq $index 0 }}center{{ end }} mb3" />
                        {{ end }}
                        <h3 class="f3 b lh-title mb1 primary">{{ .name }}</h3>
                        <h4 class="f4 gray mb2">{{ .role }}</h4>
                        <p class="f5 lh-copy gray mb2">{{ .bio }}</p>
                        <p class="f5 lh-copy gray mb2">{{ .bio }}</p>
                        {{ if .email }}
                        <p class="f6 mb2">Get in touch: <a href="mailto:{{ .email }}" class="link primary">{{ .email }}</a></p>
                        {{ end }}
                        {{ if .research_link }}
                        <p class="f6"><a href="{{ .research_link }}" class="link primary">{{ .research_text }}</a></p>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}